/*

File : _colors.scss
Author: Mohamed Nasser
For: SumUp
Description: colors values file.

*/

$blue: #00a5df;
$orange: #FFBB33;
$green: #85fb6f;
$grey: #47494d;
$light_grey: #D9D9D6;
$offwhite: #f7f7f7;
$red: #FF4444;

$green_btn: #35C97C;
$dark_green_btn: #30b570;

$white: #ffffff;
$black: #000000;

$sumup: #3f5d6c;

$sumup_bg: #034159;